.container {
    width: 200px;
    height: 200px;
}

.result {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    .user_item {
        padding: 10px;
        margin: 10px;
    }
}

.user_item {
    background-color: rgba($color: #68a5eb, $alpha: 1.0);
    border-radius: 10px;

   

    .left-col {

        .avatar {     
            height: 100%;
            img {
                border-radius: 10px !important;
            }
        }
    }

    .descrip {
        text-align: left;
        

       .info {
        display: flex;
        flex-direction: column;
       }

       .personal_info, .repos_info {
        height: 100%;
        padding-left: 10px;
        padding-top: 5px ;

            

       }
       .repos_info {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            
       }
    }

    p { 
        line-height: 1em; padding: 0; margin-bottom: 8px;
        color: black;
        font-weight: bold;
        .attribute, .bold {
            font-weight: normal;
        }
 
    }

    a {
        color:rgba($color: #1a6dcc, $alpha: 1.0);
        font-weight:bold;
    }

    h3 {

    }

    .repos_list {
        text-align: left;
        margin-top: 10px;

        .row {
            height: 140px;
        }
        
        ion-item.repo {
            --padding: 10px 0px;
            border:2px solid rgba($color: #6287b1, $alpha: 1.0);
            border-radius: 10px;
            --background: #b3c9e2;

            a {
                color: black;
                font-weight: bold;
            }

            a:hover {
                color: blue;
              }
        }
    }
    
}

#error {
    background-color: rgba($color: #db703f, $alpha: 1.0);
     div {
        padding: 5px;
     }
}