<ion-content [fullscreen]="true">
  <div id="container">
    <div class="main col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

      <div class="search_item">
        <form [formGroup]="form">
          <div class="introduction">
            
              <div class="title">
                <img alt="GitHub" src="./../../../assets/icon/github.ico" /> 
                <h2>Search for a GitHub User</h2> 
              </div>

          </div>
          <input type="text" formControlName="name" class="form-control" (keydown)="onKeyDownEvent($event)" placeholder="Git Username" aria-label="Recipient's username" aria-describedby="basic-addon2">    
          <div class="buttons">
            <ion-button slot="end" type="button" (click)="onSearch()">Search</ion-button>
          </div>
        </form>
        </div>

      <div class="users-list" >

        <div class="" *ngIf="user?.id">
          <app-user [profile]="profile"></app-user>
        </div>

        <div id="error" *ngIf="!user?.id && errorMessage != null">
          <h5 class="title">Error</h5>
          <p>Ha habido un error al listar la informacion, {{errorMessage}}.</p>  
        </div>

      </div>


    </div>
  </div>
</ion-content>
