<ion-content [fullscreen]="true">
  <div id="container">
    <div class="main col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

      <div class="search_item">
          <div class="introduction">
            
              <div class="title">
                <img alt="GitHub" src="./../../../assets/icon/github.ico" /> 
                <h2>Search for a GitHub User</h2> 
              </div>

          </div>
          <input type="text" class="form-control" placeholder="Git Username" aria-label="Recipient's username" aria-describedby="basic-addon2">    
      </div>

      <div class="row users-list" >
        <div class="">
          <app-user></app-user>
        </div>
      </div>

    </div>
  </div>
</ion-content>
